{% extends 'base.html' %}
{% block title %}Assignments{% endblock %}

{% block content %}
<div class="container py-3">
<h1>Assignments</h1>
    <div class="week py-3">
        
        <table class="assignment table">
            <thead>
                <tr class= "table info">
                    <th scope="col">Assignment</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Status</th>
                </tr>
                <tbody>
                    {% for assignment in assignments %}
                    <tr>
                        <td>{{ assignment.assignment_name }}</td>
                        <td>{{ assignment.assignment_due }}</td>
                        <td>{{ assignment.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
</div>    
        
{% endblock %}
