{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_info %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    <title>{% block title %} SAVNAC {% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% endblock %}
</head>
<body class="d-flex flex-column">
    <!-- Header -->
    <header>    
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-3 h1">
                <!-- header content -->
            </span>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row flex-grow-1">
            <!-- Base Sidebar -->
            <nav class="col-md-3 col-lg-1 d-md-block bg-dark sidebar flex-column fixed-bottom">
                <ul class="mt-5 navbar-nav flex-column flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Grades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </nav>
            
            <!-- Main Content -->
                <div class="main-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>

    <!-- Footer -->
    {% block footer %}
        <footer class='footer'>
            <nav class="navbar navbar-dark bg-dark fixed-bottom">
                <span class="navbar-brand mb-3 h1">
                    <!-- footer content -->
                </span>
            </nav>
        </footer>
    {% endblock %}
</body>

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
{% endblock %}

</html>
