{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="header">
        <div class="header-text"></div>
        <div class="edit-button-container"></div>
    </header>
    <hr style="margin-right: 5px">
    <div class="content">
        <div id="info"></div>
    </div>
    <div class='hidden-editor-container'>
        <div id='hidden-editor'>
    </div>
{% endblock %}

{% block scripts %}
    {{block.super}}
    <script src='{% static "info.js" %}' type='text/javascript'></script>
    <script>
        <!--Maybe make getting the csrf_token an if so only admins get it-->
        var CSRF_TOKEN = '{{ csrf_token }}';
        var text = '{{text|escapejs|safe}}';
        var is_teacher = '{{is_teacher|safe}}';
    </script>
{% endblock %}
