{% extends 'base.html' %}

{% block title %}Modules{% endblock %}

{% block content %}
<br><br>
    <h1>Module Page</h1>
    <div class="module py-3">
        <h2>Module 1</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Assignment</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Assignment 1</td>
                    <td>Due Date 1</td>
                    <td>Status 1</td>
                </tr>
                <tr>
                    <td>Assignment 2</td>
                    <td>Due Date 2</td>
                    <td>Status 2</td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="module py-3">
        <h2>Module 2</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Assignment</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Assignment 1</td>
                    <td>Due Date 1</td>
                    <td>Status 1</td>
                </tr>
                <tr>
                    <td>Assignment 2</td>
                    <td>Due Date 2</td>
                    <td>Status 2</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
