{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block text_form %}
    <div id="editor"></div>
    <button type="button" class='submit-button' id='submit-button'>Submit</button>
    </div>
    <div id="display"></div>
  {% endblock %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'text.js' %}" type="text/javascript"></script>
    <script>
      var CSRF_TOKEN = '{{ csrf_token }}';
      var text = '{{ text|safe }}'
    </script>

{% endblock %}

